datasets/
*.jpg
*.txt
.vscode/
experiments/
utils/__pycache__
models/__pycache__
models/core/__pycache__
configs/__pycache__
*.ipynb
*.out
testVideo/
*.json
thirdparty/
trackResult/
model_weights/
*.avi
*.mp4
*.mkv